<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 Part 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>09:00</td>        <!-- time    -->
        <td><a href="https://tinyurl.com/resbaz2022python">Introduction to workshop and tools</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>09:30</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python/index.html">Short Introduction to Programming in Python</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html">Starting with Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>10:30</td>        <!-- time    -->
        <td>Morning Tea</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html">Continuation of Starting with Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>11:30</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html">Indexing, Slicing and Subsetting DataFrames in Python</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7  -->
        <td>12:30</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 1 Part 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format/index.html">Data Types and Formats</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-ecology-lesson/05-merging-data/index.html">Combining DataFrames with Pandas</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:30</td>        <!-- time    -->
        <td>Morning Tea</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>3:30</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-ecology-lesson/06-loops-and-functions/index.html">Data Workflows and Automation</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
